<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
        <div class="img-thumbnail mb-4">
            <img class="img-fluid" src="<%= gym.image %>" onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png';">
            <h4 class="float-right">Price: $<%= gym.price %>/month</h4>
            <h4><%= gym.name %></h4>
            <p><%= gym.description %></p>
            <p class="text-secondary">
                <em>Submitted By <%= gym.author.username %>, <%= moment(gym.createdAt).fromNow() %></em>
            </p>
            <% if(currentUser && currentUser._id.equals(gym.author.id) || currentUser && currentUser.isAdmin) { %>
                <a class="btn btn-warning" href="/gyms/<%= gym._id %>/edit">Edit</a>
                <form class="delete-form" action="/gyms/<%= gym._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            <% } %>
        </div>
        <% if(currentUser) { %>
            <a class="btn btn-success" href="/gyms/<%= gym._id %>/comments/new">Add New Comment</a>
        <% } %>
        <ul class="list-unstyled">
            <% gym.comments.forEach(function(comment) { %>
            <li class="media">
                <div class="media-body">
                    <p class="pt-2">
                        <strong><%= comment.author.username %></strong> - <%= comment.text %>
                        <span class="text-info"><%= moment(comment.createdAt).fromNow() %></span>
                    </p>
                    
                </div>
                <% if(currentUser && currentUser._id.equals(comment.author.id)) { %>
                    <a class="btn btn-light" href="/gyms/<%= gym._id %>/comments/<%= comment._id %>/edit">Edit Comment</a>
                    <form class="delete-form" action="/gyms/<%= gym._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-light">Delete</button>
                    </form>
                <% } %>
            </li>
            <% }); %>
        </ul>
        </div>
        <div class="col-md-3">
            <div id="map"></div>
            <div class="list-group">
                <li class="list-group-item"><a class="text-dark" href="gyms/<%= gym._id %>/trainers">Personal Trainers</a></li>
                <li class="list-group-item"><a class="text-dark" href="/gyms/<%= gym._id %>/classes">Classes</a></li>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
    var lat = <%= gym.lat %>;
    var lng = <%= gym.lng %>;
    var center = { lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center,
    });
    var contentString = `
      <strong><%= gym.name %></strong><br />
      <%= gym.location %>
    `
    var infowindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 200
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPpqP6eoq_mPyRBOeMOuHbjLICK840nyI&libraries=places&callback=initMap"
    async defer></script>

<% include ../partials/footer %>