<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1><%= user.username %></h2>
            <div><%= user.firstName + " " + user.lastName %></div>
            <div><%= user.email %></div>
            <% if(user.bio != null) { %>
                <p class="mt-2"><%= user.bio %></p>
            <% } %>
            <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.equals(user)) { %>
                <div>
                    <a href="/users/<%= user._id %>/edit" class="btn btn-sm btn-outline-secondary">Edit Profile</button></a>
                </div>
            <% } %>
        </div>
        <div class="col">
            <% if(gyms.length > 0) { %>
                <h4>Gym Posts:</h4>
            <% } %>
            <ul>
                <% gyms.forEach(function(gym) { %>
                    <li class=""><a href="/gyms/<%= gym.id %>"><%= gym.name %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>